shamefully-hoist=true
public-hoist-pattern[]=*
strict-peer-dependencies=false
auto-install-peers=true
network-timeout=300000
fetch-retries=5
fetch-retry-mintimeout=100000
fetch-retry-maxtimeout=600000
